*,
*::after,
*::before,
html,
main {
  box-sizing: border-box;

}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin: 0;
  --color-text: #f8f6f3;
  --color-bg: #0c0c0c;
  --color-link: #7d6350;
  --color-link-hover: #f8f6f3;
  color: var(--color-text);
  background-color: var(--color-bg);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: halyard-display, sans-serif;
}



a {
  text-decoration: underline;

  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--color-link-hover);
  outline: none;
}

main {
  display: grid;
  grid-template-areas: "frame" "content";
}

.frame {
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1000;
  grid-area: frame;
  font-weight: 300;
}

.frame__title {
  font-size: 1rem;
  margin: 0 0 1rem;
  font-weight: 500;
  position: relative;
  padding: 0 3.5rem;
}

.frame__title::before,
.frame__title::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1.5rem;
  border: 2px solid #c5681c;
  left: 0;
  top: calc(50% - 0.75rem);
}

.frame__title::before {
  transform: rotate(-18deg);
  transform-origin: top right;
}

.frame__links {
  display: inline;
}

.frame__links a:not(:last-child),
.frame__demos a:not(:last-child) {
  margin-right: 1rem;
}

.frame__demos {
  margin: 1rem 0;
}

.frame__demo--current,
.frame__demo--current:hover {
  color: var(--color-text);
  text-decoration: none;
}

/* Recommended styles for Splitting */
.splitting .word,
.splitting .char {
  display: inline-block;
}

/* Psuedo-element chars */
.splitting .char {
  white-space: nowrap;
  position: relative;
}

@media screen and (min-width: 53em) {
  :root {
    font-size: 18px;
  }
  main {
    grid-template-areas: "content";
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    width: 100%;
  }

  .frame {
    padding: 1.5rem 2rem;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .frame__title,
  .frame__demos {
    margin: 0;
  }

  .frame__demos {
    margin: 0 auto 0 4rem;
  }

  .frame__links {
    padding: 0;
  }

  .frame a {
    pointer-events: auto;
  }
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.fixed-nav-bar {
  position: fixed;
  align-items: center;
  justify-content: space-between;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 9999;
  width: 100%;
  color: #fff;
}

.fixed__nav__items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fixed__nav__item {
  font-weight: 400;
  font-size: 14px;
  color: var(--color-text);
  text-transform: uppercase;
  margin-left: 1.5rem;
  text-decoration: none;
}

.fixed__nav__menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.fixed__nav__logo {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
  align-self: center;
}

.fixed__nav__logo__container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.page-container {
  width: 100vw;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.page-container > .post {
  flex: 1;
  max-width: 500px;
}



.hero__text__container {

  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 10vh;
}

.hero__text {
  text-align: center;
  font-size: 10vw;
  font-weight: 300;
  line-height: 1;
  color: var(--color-text);
  font-family: "Playfair Display", serif;
}

.linear-wipe {
  text-align: center;

  background: linear-gradient(
    to right,
    var(--color-text) 20%,
    #0c0c0c 40%,
    #0c0c0c 60%,
    var(--color-text) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
.burger {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 2px;

  border-bottom: 2px solid #fff;
}

.burger:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  border-top: 2px solid #fff;
}

.center-cropped {
  width: 80px;
  height: 110px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 30px;
}

.header__image__section {

  display: grid;
  grid-template-rows: 200px 1fr 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  width: 100vw;
  height: 100%;
}

.images__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;


}

.image__captions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image__captions {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image__caption__item {
  font-weight: 400;
  font-size: 11px;
  color: var(--color-text);
  text-transform: uppercase;

  text-decoration: none;
  line-height: 1.25;
}

.main__section {
  width: 100vw;
  box-sizing: border-box;

}

.info__reel {

  border-top: 1px solid var(--color-text);
  border-bottom: 1px solid var(--color-text);
  display: grid;
  grid-template-columns: 1fr 1.25fr 1fr;
  width: 100vw;
}



.flex__article__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-right: 1px solid var(--color-text);
}

.flex__alternate__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 1px solid var(--color-text);
}

.flex__article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  
}

.flex__article__center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  width: 100%;
  
}

.flex__article__image__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
}

.article-cropped {
  width: 130px;
  height: 150px;
  margin-right: 0.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.article__author__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.article__author {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}

.article__item__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

h3,
h2,
h1 {
  margin: 0;
  padding: 0;
}

.article__title {
  font-size: 3vw;
  text-transform: capitalize;
  font-weight: 300;
  font-family: "Playfair Display", serif;
}

.align__center {
  text-align: center;
  align-items: center;

  align-self: center;
}

.article__main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__article {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large__center__cropped {
  width: 200px;
  height: 130px;
  margin: 1rem;
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.large__vertical__cropped {
  width: 175px;
  height: 250px;
  align-self: center;

  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.main__small__text {
  font-size: 11px;
  opacity: 0.7;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.flex__article__description {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
  text-align: center;
}

.large__image__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.top__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.footer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.point {
  height: 2px;
  background: var(--color-text);
  position: absolute;
  left: 5px;
  bottom: 5px;
  transition: all 3s ease-in-out;
}


.blink {
  margin-bottom: 20px;

    animation: blink 2s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
  }
  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink {


    to {
      visibility: hidden;
    }
  }


  svg {
    fill: #fff;
    
  }

  .adorn__line {
    margin: 0.5rem;
    width: 150px;
    height: 1px;
    background-color: #fff;
  }

  .moving__line {
    position: absolute;
    left: 0px;
  bottom: 0px;
    width: 150px;
    
    height: 1px;
    background-color: #fff;
  }

  .moving__line2 {
    position: absolute;
    left: 0px;
top: 0px;
transform: translateY(-15px);
    width: 150px;
    
    height: 1px;
    background-color: #fff;
  }